<app-header></app-header>
<div class=" container">

  <div class="intro-section">
    <h1>Mô hình 3D Phát Đạt</h1>
  </div>

  <div class="sreach-box">
    <input type="text" class="form-control sreach-input" placeholder="Tìm kiếm sản phẩm">
    <select class="form-control product-category">
      <option selected disabled>Loại mô hình</option>
      <option>Tất cả mô hình</option>
      <option>Mô hình mới</option>
      <option>Mô hình nhựa</option>
      <option>Mô hình giấy</option>
      <option>Mô hình gỗ</option>
      <option>Mô hình kim loại</option>
    </select>
  </div>

  <div class="row">
    <div class=" col-lg-4 col-md-6">
      <div class=" product-item">
        <img
          src="https://product.hstatic.net/200000417685/product/p-rap-technic-sieu-xe-dua-bugatti-chiron-kk6890-4031-manh-18-lg0084-10_0b70fad8458a4c03826aa3560cdc6d97_master.jpeg"
          class="product-image" alt="">
        <h3 class="product-name">Mô Hình Nhựa 3D Lắp Ráp Technic Siêu Xe Đua Bugatti Chiron KK6890</h3>
        <p class="produc-price">1,400,000đ</p>
        <div class=" product-rating">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class=" product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class=" space"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>

    <div class=" col-lg-4 col-md-6">
      <div class=" product-item">
        <img
          src="https://product.hstatic.net/200000417685/product/p-rap-technic-sieu-xe-dua-bugatti-chiron-kk6890-4031-manh-18-lg0084-10_0b70fad8458a4c03826aa3560cdc6d97_master.jpeg"
          class="product-image" alt="">
        <h3 class="product-name">Mô Hình Nhựa 3D Lắp Ráp Technic Siêu Xe Đua Bugatti Chiron KK6890</h3>
        <p class="produc-price">1,400,000đ</p>
        <div class=" product-rating">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class=" product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class=" space"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>

    <div class=" col-lg-4 col-md-6">
      <div class=" product-item">
        <img
          src="https://product.hstatic.net/200000417685/product/p-rap-technic-sieu-xe-dua-bugatti-chiron-kk6890-4031-manh-18-lg0084-10_0b70fad8458a4c03826aa3560cdc6d97_master.jpeg"
          class="product-image" alt="">
        <h3 class="product-name">Mô Hình Nhựa 3D Lắp Ráp Technic Siêu Xe Đua Bugatti Chiron KK6890</h3>
        <p class="produc-price">1,400,000đ</p>
        <div class=" product-rating">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class=" product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class=" space"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>

    <div class=" col-lg-4 col-md-6">
      <div class=" product-item">
        <img
          src="https://product.hstatic.net/200000417685/product/p-rap-technic-sieu-xe-dua-bugatti-chiron-kk6890-4031-manh-18-lg0084-10_0b70fad8458a4c03826aa3560cdc6d97_master.jpeg"
          class="product-image" alt="">
        <h3 class="product-name">Mô Hình Nhựa 3D Lắp Ráp Technic Siêu Xe Đua Bugatti Chiron KK6890</h3>
        <p class="produc-price">1,400,000đ</p>
        <div class=" product-rating">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class=" product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class=" space"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>