body{
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #00c6ff, #363795);
    background-size: cover; /* Đảm bảo gradient phủ toàn bộ */
}



.intro-section{
    text-align: center;
    color: white;
    padding: 20px;
}

.sreach-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    

}
.product-category{
    width: 200px;
    border-color: rgba(255,255,255,0.5);
    color: white;

}

.sreach-input{
    width: 400px;
    margin-right: 10px;
    background-color:#363795;
    border-color: rgba(255,255,255,0.5);
    color: white;
}

.form-control{
    background-color: transparent;
    color: white;
}

.form-control::placeholder{
    color: rgba(255,255,255,0.5);
    opacity: 1;
}

.product-item{
    background-color: white;
    border: solid 1px #0072ff;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

.product-image{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-rating{
    color: #363795;
    margin-top: 10px;
}

.product-actions{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.space{
    margin: 0 5px;
}

