<app-header></app-header>
<div class=" container">

    <div class="intro-section">
        <h1>Mô hình 3D Phát Đạt</h1>
    </div>

    <div class="row">
        <div class=" col-md-6">
            <div id="Carousel-Example" class="carousel slide" data-bs-ride="carousel">
                <div class=" carousel-inner">
                    <div class=" carousel-item active">
                        <div class=" square-image">
                            <img src="https://product.hstatic.net/200000417685/product/p-rap-technic-sieu-xe-dua-bugatti-chiron-kk6890-4031-manh-18-lg0084-10_0b70fad8458a4c03826aa3560cdc6d97_master.jpeg"
                                class="product-image" alt="">
                        </div>
                    </div>
                    <div class=" carousel-item ">
                        <div class=" square-image">
                            <img src="https://product.hstatic.net/200000417685/product/p-rap-technic-sieu-xe-dua-bugatti-chiron-kk6890-4031-manh-18-lg0084-10_0b70fad8458a4c03826aa3560cdc6d97_master.jpeg"
                                class="product-image" alt="">
                        </div>
                    </div>
                    <div class=" carousel-item ">
                        <div class=" square-image">
                            <img src="https://product.hstatic.net/200000417685/product/p-rap-technic-sieu-xe-dua-bugatti-chiron-kk6890-4031-manh-18-lg0084-10_0b70fad8458a4c03826aa3560cdc6d97_master.jpeg"
                                class="product-image" alt="">
                        </div>
                    </div>
                    <div class=" carousel-item ">
                        <div class=" square-image">
                            <img src="https://product.hstatic.net/200000417685/product/p-rap-technic-sieu-xe-dua-bugatti-chiron-kk6890-4031-manh-18-lg0084-10_0b70fad8458a4c03826aa3560cdc6d97_master.jpeg"
                                class="product-image" alt="">
                        </div>
                    </div>
                    <div class=" carousel-item ">
                        <div class=" square-image">
                            <img src="https://product.hstatic.net/200000417685/product/p-rap-technic-sieu-xe-dua-bugatti-chiron-kk6890-4031-manh-18-lg0084-10_0b70fad8458a4c03826aa3560cdc6d97_master.jpeg"
                                class="product-image" alt="">
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#Carousel-Example"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#Carousel-Example"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="row">
                <div class=" thumnail-container ">
                    <div class=" thumnail-item active">
                        <img src="https://product.hstatic.net/200000417685/product/p-rap-technic-sieu-xe-dua-bugatti-chiron-kk6890-4031-manh-18-lg0084-10_0b70fad8458a4c03826aa3560cdc6d97_master.jpeg"
                            class="thumnail-image" alt="">
                    </div>
                    <div class=" thumnail-item ">
                        <img src="https://product.hstatic.net/200000417685/product/p-rap-technic-sieu-xe-dua-bugatti-chiron-kk6890-4031-manh-18-lg0084-10_0b70fad8458a4c03826aa3560cdc6d97_master.jpeg"
                            class="thumnail-image" alt="">
                    </div>
                    <div class=" thumnail-item ">
                        <img src="https://product.hstatic.net/200000417685/product/p-rap-technic-sieu-xe-dua-bugatti-chiron-kk6890-4031-manh-18-lg0084-10_0b70fad8458a4c03826aa3560cdc6d97_master.jpeg"
                            class="thumnail-image" alt="">
                    </div>
                    <div class=" thumnail-item ">
                        <img src="https://product.hstatic.net/200000417685/product/p-rap-technic-sieu-xe-dua-bugatti-chiron-kk6890-4031-manh-18-lg0084-10_0b70fad8458a4c03826aa3560cdc6d97_master.jpeg"
                            class="thumnail-image" alt="">
                    </div>
                    <div class=" thumnail-item ">
                        <img src="https://product.hstatic.net/200000417685/product/p-rap-technic-sieu-xe-dua-bugatti-chiron-kk6890-4031-manh-18-lg0084-10_0b70fad8458a4c03826aa3560cdc6d97_master.jpeg"
                            class="thumnail-image" alt="">
                    </div>
                </div>

            </div>
        </div>
        <div class=" col-md-6">
            <div class="product-detail">
                <h2>Thông tin chi tiết sản phẩm</h2>
                <p>Mô tả sản phẩm</p>
                <p>Giá: 2,000,000đ</p>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
                <div class="product-quantity">
                    <div class="border-wrapper">
                        <button>-</button>
                        <input type="text" value="1">
                        <button>+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>